**hooks
**node_modules
**platforms
**plugins
**www/css/fa
**www/css/bootstrap.min.css
**www/img
**www/js/bootstrap.js
**www/js/index.js
**www/js/jquery-3.3.1.min.js
**www/js/jquery.mask.js
**www/css/index.css