
/*Container de cada label*/
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
/*Estilização dos icones*/
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


/* Estilização dos botoes */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/*Container da body*/
body{
	background-image: url("../img/matematica.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
}
.container{
	margin-left: auto;
	margin-right: auto;
}
/*Titulo Estilizado*/
.glow {
  font-size: 75px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #DCDCDC, 0 0 15px #DCDCDC, 0 0 25px #1E90FF, 0 0 35px #1E90FF, 0 0 45px #1E90FF, 0 0 55px #1E90FF, 0 0 65px #1E90FF;
  }
  
  to {
    text-shadow: 0 0 15px #DCDCDC, 0 0 25px #000080, 0 0 35px #000080, 0 0 45px #000080, 0 0 55px #000080, 0 0 65px #000080, 0 0 75px #000080;
  }
}

